.popup {

   
    position: absolute;
    background: white;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 100px;
    border: 1px solid rgba(0,0,0,0.5);
    z-index: 99;
}



.topx {
    height: fit-content !important;
    padding: 10px;
}

.btn {
    border: none;
    padding: 10px;
   

}

.controls {
   height: 30px;
}



.btnx {
    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    width: 30px;
    border-radius: 50%;
    margin: 2px;

}

.db{
    background: dodgerblue;
}

.red {
    background :red;
}

.prod_description {
    float: right;
    margin: 3px;
}

h1 {
    padding: 0;
    margin: 0;
}

.purchase {
    display: grid;
    grid-template-columns: repeat(auto-fit,min-max(250px,1fr));
}

.paynow {
    position: absolute;
    bottom: 10px;
    right: 20px;
    clip-path: polygon(25% 0%, 100% 0%, 84% 100%, 0% 100%);
    width: fit-content;
    height: fit-content;
    padding: 20px 30px 20px 30px;
    background: lightseagreen;
    color: white;
    text-align: center;
}

.paynow:active {
    opacity: 0.5;
}

.tp {
    font-size: 15px;
    color: #111;
}